<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="nav" aria-hidden="true" class="navdrawer navdrawer-permanent navdrawer-permanent-clipped"
     id="navdrawerPermanentClipped" tabindex="-1" style="background-color: white">
    <img src="/images/animals.jpg" alt="User Profile" class="rounded img-fluid">
    <div class="text-container p-2">
        <p class="text-truncate font-weight-bold text-large name">Tafara Mundere</p>
        <p class="text-truncate font-weight-bold organisation">Lima Smart Technologies</p>
        <p class="text-truncate font-weight-bold location">Bulawayo</p>
        <p class="text-truncate font-weight-bold position">The Chief</p>
    </div>
</div>
</body>
</html>