<!DOCTYPE html >
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head :: head"></div>
</head>
<body>
<div th:replace="fragments/header :: header">...</div>
<div th:replace="fragments/nav :: nav"></div>
<main class="content">
        <div class="card">
            <h1 class="header">
                Welcome to  Lima Smart
                Agriculture Advisory System  By Tafara M Mundere
            </h1>

            <p>&nbsp;</p>
            <p><strong>Tafara Malachia Mundere</strong> is a final year student Department of Electronic Engineering in the Faculty of Industrial Technology at the National University of Science and Technology.</p>
            <p>This project is part of his final year honors project. The passion for the development of the nation of Zimbabwe is the sole motivation for pursuing this project. A young farmer (Soya beans and traditional poultry) he has observed the challenge faced by farmers especially with finance; mitigating risk and also insurance and has taken it upon himself to work on providing a solution<strong> LimaSmart</strong></p>
            <p>&nbsp;</p>
        </div>
</main>
<div th:replace="fragments/footer :: footer">...</div>
</body>
</html>