<!DOCTYPE html >
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lima Smart</title>
    <div th:replace="fragments/head :: head"></div>
</head>
<body>
<div th:replace="fragments/header :: header">...</div>
<div th:replace="fragments/nav :: nav"></div>
<main class="content">
    <h1>
        Welcome to Lima smart Agriculture Optimisation System by Tafara Mundere
    </h1>
</main>
<div th:replace="fragments/footer :: footer">...</div>
</body>
</html>