<!DOCTYPE html >
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lima Smart</title>
    <div th:replace="fragments/head :: head"></div>
</head>
<body>
<div th:replace="fragments/header :: header">...</div>
<div th:replace="fragments/nav :: nav"></div>
<main class="content">
    <h1>
        Welcome to Lima smart Agriculture Optimisation System by Tafara Mundere
    </h1>
    <p><strong>LimaSmart is a system that performs the following functions:</strong></p>
    <ul>
        <li>Advice farmers on potential diseases in real time and help them with methods of preparation</li>
        <li>Calculates the risk of a disease happening in real time thereby assisting financial institutions; government; insurance companies and other agriculture stakeholders in decision making and risk mitigation</li>
    </ul>
    <p><strong>Problems</strong></p>
    <ul>
        <li>Farmer can&rsquo;t easily access funding</li>
        <li>Farmer can&rsquo;t access affordable customized insurance package</li>
        <li>Farmer is not able to proactively react to pests and disease outbreaks</li>
        <li>Agricultural initiatives e.g. command agriculture difficulty in dealing with risk associated with pests and diseases</li>
    </ul>
    <p><strong>Solutions </strong></p>
    <ul>
        <li>Farmer get advice on potential risk associated with current weather and what they should have to prepare</li>
        <li>Financial institutions (banks and microfinance) are able to quantify risk and mitigate it thereby unlocking funding opportunities for farmers</li>
        <li>With risk now being measurable and predicted quantitatively affordable and customized insurance packages available for farmers</li>
        <li>Agriculture programs e.g. Command Agriculture now being able to monitor and prevent &nbsp;loss as a result of diseases and pests</li>
    </ul>
    <p><strong>Expected impact</strong></p>
    <ul>
        <li>Increase funding for farmers</li>
        <li>Increase in the uptake of insurance by farmers</li>
        <li>Reduce loss to pests and disease</li>
        <li>Creation of ecosystem of agriculture stakeholders [Farmers; Banks; Agro-dealers; Insurance Companies; Millers Government]</li>
    </ul>
    <p>&nbsp;</p>
    <img class="img-fluid" src="/images/brands.png" alt="Agric Brands">
</main>
<div th:replace="fragments/footer :: footer">...</div>
</body>
</html>