<!DOCTYPE html >
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Location | Lima Smart</title>
    <div th:replace="fragments/head :: head"></div>
</head>
<body>
<style>
    body {
        background-image: url("/images/animals.jpg");
    }
</style>
<div th:replace="fragments/header :: header">...</div>
<div th:replace="fragments/nav :: nav"></div>
<main class="content">
    <h1 class="page-header">Location</h1>
    <div class="map">
        <iframe width="100%" height="680" frameborder="0" style="border:0"
                src="https://www.google.com/maps/embed/v1/view?zoom=17&center=-20.162747,28.641042&key=AIzaSyDco0wztoV3zK0GA1I3vCZMDgbaYiaK2UU"
                allowfullscreen></iframe>
    </div>
</main>
<div th:replace="fragments/footer :: footer">...</div>
</body>
</html>